<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{/layout/plantilla::head}"></head>
    <body>

        <div th:replace="~{/layout/plantilla2::nav}"></div>
        <header th:replace="~{/evento/fragmentos::banner}"></header>
        <nav th:replace="~{/evento/fragmentos::migajas_pan}"></nav>
        <section th:replace="~{/evento/fragmentos::section-1}"></section>
        <section th:replace="~{/evento/fragmentos::section-2}"></section>
        <section th:replace="~{/evento/fragmentos::evento}"></section>
        <section th:replace="~{/evento/fragmentos::boletin}"></section>
        <footer th:replace="~{/layout/plantilla2::footer}"></footer>




    </body>


</html>