<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla2::head}"></head>
    <body>
        <div th:replace="~{/layout/plantilla2::nav}"></div>
        <header th:replace="~{/adopcion/fragmentos::banner2}"></header>
        <nav th:replace="~{/adopcion/fragmentos::migajas_pan2}"></nav>
        <section th:replace="~{/adopcion/fragmentos::imagen_perro}"></section>

        <footer th:replace="~{/layout/plantilla2::footer}"></footer>

    </body>
</html>
