<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla::head}"></head>
    <body>
        <div th:replace="~{mascota/fragmentos::headerSecundario}">
            
        </div>
        <div th:replace="~{/layout/plantilla::nav}"></div>
        <div th:replace="~{mascota/fragmentos::agregarMascota}"></div>
        <section th:replace="~{mascota/fragmentos::botonesAgregar}"></section>
     
        <div th:replace="~{/mascota/fragmentos::listado}"></div>
        
        
  

    </body>
</html>
