<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla::head}"></head>
    <body>
         <div th:replace="~{/layout/plantilla2::nav}"></div>
        <header th:replace="~{/informacion/fragmentos::banner}"></header>
        <nav th:replace="~{/informacion/fragmentos::migajas_pan}"></nav>
        <div th:replace="~{/informacion/fragmentos::text}"></div>
        <div th:replace="~{/informacion/fragmentos::cont}"></div>
        <footer th:replace="~{/layout/plantilla2::footer}"></footer>
        
        
  

    </body>
</html>
